<% if @UserAllowed == 'true' %>
<% for classifyId in @classifyId -%>

	<script type="text/javascript">
		$(document).ready(function(){
	        //$.jqplot.config.enablePlugins = true;



	        var s<%= classifyId %> = [
			<% for value in IssueCustomField.find(classifyId).possible_values -%>
				<% if value != '---' -%>
					['<%= value %>', <%= CustomValue.where('value = ? and custom_field_id = ?', value, classifyId).all.count %>],
				<% end %>
			<% end-%>
			];
				         
	        plot1 = $.jqplot('graph_classify<%= classifyId %>', [s<%= classifyId %>], {
	            // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
	            title: '<%= IssueCustomField.find(classifyId).name %>',
	            seriesDefaults:{
	                renderer:$.jqplot.BarRenderer,
	                pointLabels: { show: true }
	            },
	            axes: {
	                xaxis: {
	                    renderer: $.jqplot.CategoryAxisRenderer,
	                }
	            },
	            cursor: {showTooltip:false},
	            highlighter: { 
	            	show: false
	            }
	        });
	    });
	</script>
	<div class="allgraph" id="graph_classify<%= classifyId %>"></div>
<% end-%>	
	

<% end %>