<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_whitewall_menu) %>

<% content_for :header_tags do %>

	<%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'jquery.stickyheader.css', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jqplot/excanvas.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/jquery.jqplot.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.dateAxisRenderer.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.barRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasAxisTickRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasTextRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasOverlay.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.categoryAxisRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.cursor.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.dateAxisRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.enhancedLegendRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.logAxisRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.highlighter.js', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jquery.ba-throttle-debounce.min.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jquery.stickyheader.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'script', :plugin => 'whitewall' %>
<% end %>

<% if @UserAllowed == 'true' %>

<div id="whitewall">
	<h2><%= l(:overall_hedline1) %></h2>

	<!-- WALL FILTER -->
	<div id="filter">
		<div id="timespan">
			<%= form_tag("/whitewall_overall", method: "get") do %>
				<span id="stats">
					<%= link_to l(:label_whitewall_menu_graph),
						:controller => "graph",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<span id="statsBack">

					<%= link_to l(:label_whitewall_menu),
						:controller => "index",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<select id="section">
					<option value="daily">Täglich</option>
					<option value="weekly">Wöchentlich</option>
					<option value="yearly">Jährlich</option>
				</select>
				von
				<input type="text" id="from" name="from" value="<%= @fromInput %>">
				<label for="from"><%= l(:label_whitewall_timespan_to) %></label>
				<input type="text" id="to" name="to" value="<%= @toInput %>">
				<input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" />
			<% end %>
		</div>
	</div>

	<div id="wall" class="graphOverall">

	<script type="text/javascript">

	<% for tracker in @trackers -%>
		var <%= tracker.name %> = [
		<% for date in @fromDate.upto(@toDate) -%>
		  ['<%= date.strftime('%Y-%m-%d') %>', <%= tracker["issues#{date}"] %>],
		<% end -%>
		];				
	<% end -%>

//<%= @chartLines.to_s.gsub('"', '') %>
	$(document).ready(function(){
			$.jqplot.config.enablePlugins = true;

			var plot1 = $.jqplot('chart1', <%= @chartLines.to_s.gsub('"', '') %>, {
			      title: 'Tickets',
			       legend:{
			           renderer: $.jqplot.EnhancedLegendRenderer,
			           show:true
			        },
			     grid: {
			        drawGridLines: true,
			        gridLineColor: '#dcdcdc',
			        background: '#fafafa',
			        borderColor: '#fafafa',
			        borderWidth: 1.0,
			        shadow: false,
			        shadowAlpha: 0.07,
			    },

			      series: [
			      	<% for tracker in @trackers -%>
						{label: '<%= tracker.name %>'},
					<% end -%>
						],			      
				    seriesDefaults: {
				        showMarker: false
				    },			          
			          axesDefaults: {
				        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
				        tickOptions: {
				          fontSize: '6pt'
				        },

				    },
			      axes: {
			          yaxis: {
			          	min: 0
			          },
			          xaxis: {
			                renderer:$.jqplot.DateAxisRenderer,
			                rendererOptions:{
			                    tickRenderer:$.jqplot.CanvasAxisTickRenderer
			                },
			                tickOptions:{
			                    fontSize:'6pt',
			                    fontFamily:'Tahoma',
			                    formatString:'%#d/%#m/%Y'
			                }
       			      }
			      },
			          highlighter: {
				        show: true,
				        fontSize:'6pt',
				        formatString:'Date: %s | Anzahl %s'
				      },
			      cursor:{
			        show: true,
			        zoom:true,
			        showTooltip:false,
			        constrainZoomTo: 'x'
			      }
			  });
			 
			  $('.button-reset').click(function() { plot1.resetZoom() });

			$(window).bind('resize', function(event, ui) {
                plot1.replot();
            });
		});

	</script>	
	<div id="chart1"></div>
	
	</div>
	<button class="button-reset">Reset Zoom</button>
	
</div>

<% else %>
	<div id="flash_notice" class="flash error"><%= l(:label_whitewall_noaccess) %></div>
<% end %>