<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_whitewall_menu) %>

<% content_for :header_tags do %>

	<%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'jquery.stickyheader.css', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jqplot/excanvas.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/jquery.jqplot.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.dateAxisRenderer.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.barRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasAxisTickRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasTextRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasOverlay.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.categoryAxisRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.cursor.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.dateAxisRenderer.js', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jquery.ba-throttle-debounce.min.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jquery.stickyheader.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'script', :plugin => 'whitewall' %>
<% end %>

<% if @UserAllowed == 'true' %>

<div id="whitewall">
	<h2><%= l(:overall_hedline1) %></h2>

	<!-- WALL FILTER -->
	<div id="filter">
		<div id="timespan">
			<%= form_tag("/whitewall_overall", method: "get") do %>
				<span id="stats">
					<%= link_to l(:label_whitewall_menu_graph),
						:controller => "graph",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<span id="statsBack">

					<%= link_to l(:label_whitewall_menu),
						:controller => "index",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<label for="from"><%= l(:label_whitewall_timespan_from) %></label>
				<input type="text" id="from" name="from" value="<%= @fromInput %>">
				<label for="from"><%= l(:label_whitewall_timespan_to) %></label>
				<input type="text" id="to" name="to" value="<%= @toInput %>">
				<input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" />
			<% end %>
		</div>
	</div>

	<div id="wall" class="graphOverall">

	<script type="text/javascript">

var goog = [["6/22/2009 16:00:00",425.32],
["23/9/2009 16:00:00",424.84],
["21/9/2009 16:00:00",424.84],
["18/9/2009 16:00:00",424.84],
["17/9/2009 16:00:00",424.84],
["16/9/2009 16:00:00",424.84],
["15/9/2009 16:00:00",424.84],
["13/9/2009 16:00:00",424.84],
["11/9/2009 16:00:00",424.84],
["9/9/2009 16:00:00",424.84],
["7/9/2009 16:00:00",424.84],
["5/9/2009 16:00:00",424.84],
["3/9/2009 16:00:00",424.84],
["1/9/2009 16:00:00",424.84],
["30/8/2009 16:00:00",424.84],
["28/8/2009 16:00:00",424.84],
["26/8/2009 16:00:00",424.84],
["24/8/2009 16:00:00",424.84],
["22/8/2009 16:00:00",424.84],
["19/8/2009 16:00:00",424.84],
["16/8/2009 16:00:00",424.84],
["15/8/2009 16:00:00",424.84],
["14/8/2009 16:00:00",424.84],
["12/8/2009 16:00:00",424.84],





["10/8/2009 16:00:00",424.84],
["7/8/2009 16:00:00",424.84],
["6/8/2009 16:00:00",424.84],
["5/26/2009 16:00:00",417.23],
["5/11/2009 16:00:00",390],
["4/27/2009 16:00:00",393.69],
["4/13/2009 16:00:00",392.24],
["3/30/2009 16:00:00",369.78],
["3/16/2009 16:00:00",330.16],
["3/2/2009 16:00:00",308.57],
["2/17/2009 16:00:00",346.45],
["2/2/2009 16:00:00",371.28],
["1/20/2009 16:00:00",324.7],
["1/5/2009 16:00:00",315.07],
["12/22/2008 16:00:00",300.36],
["12/8/2008 16:00:00",315.76],
["11/24/2008 16:00:00",292.96],
["11/10/2008 16:00:00",310.02],
["10/27/2008 16:00:00",359.36],
["10/13/2008 16:00:00",372.54],
["9/29/2008 16:00:00",386.91],
["9/15/2008 16:00:00",449.15],
["9/2/2008 16:00:00",444.25],
["8/25/2008 16:00:00",463.29],
["8/11/2008 16:00:00",510.15],
["7/28/2008 16:00:00",467.86],
["7/14/2008 16:00:00",481.32],
["6/30/2008 16:00:00",537],
["6/16/2008 16:00:00",546.43],
["6/2/2008 16:00:00",567],
["5/19/2008 16:00:00",544.62],
["5/5/2008 16:00:00",573.2],
["4/21/2008 16:00:00",544.06],
["4/7/2008 16:00:00",457.45],
["3/24/2008 16:00:00",438.08],
["3/10/2008 16:00:00",437.92],
["2/25/2008 16:00:00",471.18],
["2/11/2008 16:00:00",529.64],
["1/28/2008 16:00:00",515.9],
["1/14/2008 16:00:00",600.25],
["12/31/2007 16:00:00",657],
["12/17/2007 16:00:00",696.69],
["12/3/2007 16:00:00",714.87],
["11/19/2007 16:00:00",676.7],
["11/5/2007 16:00:00",663.97],
["10/22/2007 16:00:00",674.6],
["10/8/2007 16:00:00",637.39],
["9/24/2007 16:00:00",567.27],
["9/10/2007 16:00:00",528.75],
["8/27/2007 16:00:00",515.25]];

		$(document).ready(function(){
			  var plot1 = $.jqplot('chart1', [goog], {
			      title: 'Tickets',
			      series: [{
			          label: 'Huhu',
			          neighborThreshold: -1
			      }],
			      axes: {
			          xaxis: {
			              renderer: $.jqplot.DateAxisRenderer,
			              min:'August 1, 2007 16:00:00',
			              tickInterval: '4 months',
			              tickOptions:{formatString:'%Y/%#m/%#d'}
			          },
			          yaxis: {
			              tickOptions:{formatString:'%.0f'}
			          }
			      },
			      cursor:{
			        show: true,
			        zoom:true,
			        showTooltip:false
			      }
			  });
			 
			  $('.button-reset').click(function() { plot1.resetZoom() });

			$(window).bind('resize', function(event, ui) {
                plot1.replot( { resetAxes: true } );
            });
		});


	</script>

	<% for tracker in @trackers -%>
		<% (@toDate.to_datetime.to_i .. @fromDate.to_datetime.to_i).step(1.hour) do |date| -%>
		  <%= debug(date) %>
		<% end -%>
		äääääääää
	<% end -%>


	<div id="chart1"></div>
	
	</div>
	<button class="button-reset">Reset Zoom</button>
	
</div>

<% else %>
	<div id="flash_notice" class="flash error"><%= l(:label_whitewall_noaccess) %></div>
<% end %>