<% content_for :header_tags do %>

  <%= stylesheet_link_tag 'context_menu' %>
  <%= javascript_include_tag 'context_menu' %>

  <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>
  <%= javascript_include_tag 'script', :plugin => 'whitewall' %>
<% end %>

<h3><%= l(:label_whitewall_menu)%></h3>

<% @weeks = [[Date.today.cweek,Date.today.year]] %>

<table id="whitewall-widget">
  <thead class="sticky">
  <tr>
    <% for week in @weeks -%>
      <th><%= l(:label_whitewall_week) %>&nbsp;<%= week[0] %>/<%= week[1] %></th>
    <% end -%>
  </tr>
  <tr>
    <% for week in @weeks -%>
      <th>
        <div class="stats">
          <div class="avatar">
            <%= avatar(user, :size => "32") %>&nbsp;<%= link_to_user(user) %>
          </div>
          <div class="total-stats">
            <%= render :partial => "shared/graph", locals: {users: User.current, user: User.current, week: week} %>
          </div>
        </div>
      </th>
    <% end -%>
  </tr>
  </thead>
  <tbody>
    <tr class="<%= cycle('odd', 'even') %>">
      <!-- LOOPS THROUGH TICKETS -->
      <% for week in @weeks -%>
        <td class="sortItCon <% if(Date.today.strftime("%U").to_i + 1) > week[0].to_i %>weekOld_0<% end %>">
          <%= render :partial => "shared/issue", locals: {users: User.current, user: User.current, week: week} %>
        </td>
      <% end -%>
    </tr>
  </tbody>
</table>

