<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>
<% end %>

<h3>Whitewall</h3>

<% @weeks = [[17,2018]] %>

<table id="whitewall-widget">
  <thead class="sticky">
  <tr>
    <th></th>
    <% for week in @weeks -%>
      <th><%= l(:label_whitewall_week) %>&nbsp;<%= week[0] %>/<%= week[1] %></th>
    <% end -%>
  </tr>
  </thead>
  <tbody>

    <tr class="<%= cycle('odd', 'even') %>">
      <th style="width: 20%; min-width: 100px"><div class="stickyUser"><%= avatar(user, :size => "32") %>&nbsp;<%= link_to_user(user) %></div></th>
      <!-- LOOPS THROUGH TICKETS -->
      <% for week in @weeks -%>
        <td class="sortItCon <% if(Date.today.strftime("%U").to_i + 1) > week[0].to_i %>weekOld_0<% end %>">
          <%= render :partial => "shared/issue", locals: {users: User.current, user: User.current, week: week} %>
        </td>
      <% end -%>
    </tr>
  </tbody>
</table>

