<% html_title l(:label_whitewall_menu) %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'jquery.fixedheadertable.css', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jquery.mousewheel.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jquery.fixedheadertable.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'script', :plugin => 'whitewall' %>
<% end %>

<% if @UserAllowed == 'true' %>

<div id="whitewall">
	<h2><%= l(:label_whitewall_menu) %></h2>

	<!-- WALL FILTER -->
	<div id="filter">
		<div id="timespan">
			<%= form_tag("/whitewall", method: "get") do %>
				<span id="stats"><%= link_to l(:label_whitewall_menu_graph), :controller => "graph", :action => "index" %></span>
				<label for="from"><%= l(:label_whitewall_timespan_from) %></label>
				<input type="text" id="from" name="from" value="<%= @fromDate %>">
				<label for="from"><%= l(:label_whitewall_timespan_to) %></label>
				<input type="text" id="to" name="to" value="<%= @toDate %>">
				<input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" />
				<div id="wallFunctions">
					<span id="showUsers">
						<div><%= l(:label_whitewall_users) %></div>
						<ul>
							<li class="invert"><b><%= l(:whitewall_users_select) %></b><input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" /></li>
							<% for user in @usersAll -%>
								<li class="<%= cycle('odd', 'even') %>">
									<label for="user<%= user.id %>">
										<% if @users.include? user %>
											<input checked="checked" type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% else %>
											<input type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% end %>
										<%= user.name %>
									</label>
								</li>
							<% end -%>
						</ul>
					</span>					
					<span id="showDetails"><%= l(:label_whitewall_details) %></span>
					<span id="noRel"><%= l(:label_whitewall_undefined_short) %></span>
				</div>
			<% end %>
		</div>
	</div>

<!-- 	<%= debug(@users) %> -->
	<%= debug(@test) %>

	<div id="wall">		
	<!-- WALL TABLE -->
	<fieldset>
		<legend><%= l(:whitewall_legend) %></legend>
		<% all_tracker = Tracker.all.sort %>
		<% all_tracker.each do |tracker| %>
			<span class="colorPrev" style="background-color: #<%= Setting.plugin_whitewall["whitewall_color#{tracker.id}_settings"] %>"></span>
			<label for="settings_whitewall_color<%= tracker.id %>_settings"><%= tracker.name %></label>
		<% end -%>
	</fieldset>
	<div id="scroll">
		<table>
			<thead>		
				<tr>
					<td></td>
					<% for week in @weeks -%>
						  <td><%= l(:label_whitewall_week) %>&nbsp;<%= week %></td>
					<% end -%>
				</tr>
			</thead>
			<tbody>			
				<% for user in @users -%>
					<tr class="<%= cycle('odd', 'even') %>">
						<td><%= avatar(user, :size => "32") %>&nbsp;<%= link_to_user(user) %></td>

						<!-- LOOPS THROUGH TICKETS -->
						<% for week in @weeks -%>
							<td>
							  	<ul class="sortItCon">
									<% for issue in user["week#{week}"] -%>
										<li class="postIt" style="background-color: #<%= Setting.plugin_whitewall["whitewall_color#{issue.tracker_id}_settings"] %>">
											<div class="title">
												<%= link_to_issue(issue, :subject => true, :truncate => 18, :tracker => false) %>
												<% if !issue.due_date.blank? %>
													<span class="estimated">~<%= issue.estimated_hours %>h</span>
												<% end %>
											</div>
											<div class="hidden">
												<div class="dueDate">
													<b><%= l(:label_whitewall_start) %></b> <span><%= issue.start_date %></span>
													<% if issue.due_date.blank? %>
													    <span class="error"><%= l(:label_whitewall_finish_error) %></span>
													<% else %>
														|&nbsp;<b><%= l(:label_whitewall_finish) %></b> <span><%= issue.due_date %></span>
													<% end %>
	
												</div>
												<div class="done">
													<div class="ui-progressbar ui-widget ui-widget-content ui-corner-all">
														<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: <%= issue.done_ratio %>%;"></div>
													</div>
												</div>
											</div>
										</li>
									<% end -%>								
							  	</ul>
							  </td>
						<% end -%>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	</div>

	<!-- DIALOG -->
	<div id="relDialog" title="<%= l(:label_whitewall_undefined) %>">
		<ul id="relSort">
			<% @issuesUndefined.each do |issue| %>
				<li class="postIt">
					<div class="title"><%= link_to_issue(issue, :subject => true, :truncate => 18, :tracker => false) %></div>
					<div class="dueDate">
						<b><%= l(:label_whitewall_start) %></b> <span><%= issue.start_date %></span>
						<% if issue.due_date.blank? %>
						    <span class="error"><%= l(:label_whitewall_finish_error) %></span>
						<% else %>
							|&nbsp;<b><%= l(:label_whitewall_finish) %></b> <span><%= issue.due_date %></span>
						<% end %>

					</div>
						<% if !issue.due_date.blank? %>
							<div>~<%= issue.estimated_hours %>h</div>
						<% end %>
					<div class="done">
						<div class="ui-progressbar ui-widget ui-widget-content ui-corner-all">
							<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: <%= issue.done_ratio %>%;"></div>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>

</div>

<% else %>
	<div id="flash_notice" class="flash error"><%= l(:label_whitewall_noaccess) %></div>
<% end %>