<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_whitewall_menu) %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'jquery.stickyheader.css', :plugin => 'whitewall' %>


	<!-- DATEPICKER SET LANG -->
	<% if locale == 'fr' || locale == 'de' || locale == 'nl' || locale == 'pt-br' || locale == 'ru' %>
	    <%= javascript_include_tag "datepicker/datepicker-#{locale}.js", :plugin => 'whitewall' %>    
	<% end %>

    <%= javascript_include_tag 'jquery.ba-throttle-debounce.min.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jquery.stickyheader.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'script', :plugin => 'whitewall' %>
<% end %>

<% if @UserAllowed == 'true' %>

<div id="whitewall">
	<h2><%= l(:label_whitewall_menu) %></h2>

	<!-- WALL FILTER -->
	<div id="filter">
		<div id="timespan">
			<%= form_tag("/whitewall", method: "get") do %>
				<span id="stats">
					<%= link_to l(:label_whitewall_menu_graph),
						:controller => "graph",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<span id="statsOverall">
					<%= link_to l(:label_whitewall_menu_overall),
						:controller => "overall",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<label for="from"><%= l(:label_whitewall_timespan_from) %></label>
				<input type="text" id="from" name="from" value="<%= @fromInput %>">
				<label for="from"><%= l(:label_whitewall_timespan_to) %></label>
				<input type="text" id="to" name="to" value="<%= @toInput %>">
				<input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" />
				<div id="wallFunctions">
					<span id="showUsers">
						<div><%= l(:label_whitewall_users) %></div>
						<ul>
							<li class="invert">
								<b><%= l(:whitewall_users_select) %></b>
								<input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" />
							</li>
							<% for user in @usersAll -%>
								<li class="<%= cycle('odd', 'even') %>">
									<label for="user<%= user.id %>">
										<% if @users.include? user %>
											<input checked="checked" type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% else %>
											<input type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% end %>
										<%= user.name %>
									</label>
								</li>
							<% end -%>
						</ul>
					</span>					
					<span id="showDetails"><%= l(:label_whitewall_details) %></span>
					<span id="noRel"><%= l(:label_whitewall_undefined_short) %></span>
				</div>
			<% end %>
		</div>
	</div>

	<div id="wall">		
	<!-- WALL TABLE -->
	<fieldset>
		<legend><%= l(:whitewall_legend) %></legend>
		<% all_tracker = Tracker.all.sort %>
		<% all_tracker.each do |tracker| %>
			<span id="tracker<%= tracker.name %>" class="tracker">
				<span class="colorPrev" style="background-color: #<%= Setting.plugin_whitewall["whitewall_color#{tracker.id}_settings"] %>"></span>
				<label><%= tracker.name %></label>
			</span>
		<% end -%>
	</fieldset>
	<div id="scroll">
		<table>
			<thead>		
				<tr>
					<th></th>
					<% for week in @weeks -%>
						  <th><%= l(:label_whitewall_week) %>&nbsp;<%= week[0] %>/<%= week[1] %></th>
					<% end -%>
				</tr>
			</thead>
			<tbody>
					
				<% for user in @users -%>
					<tr class="<%= cycle('odd', 'even') %>">
						<th><%= avatar(user, :size => "32") %>&nbsp;<%= link_to_user(user) %></th>
						<!-- LOOPS THROUGH TICKETS -->
						<% for week in @weeks -%>
							<td class="<% if(Date.today.strftime("%U").to_i + 1) > week[0].to_i %>weekOld_0<% end %>">
							  	<ul class="sortItCon">


										<% for issue in user_week_issue(user,week[0],week[1]) -%>
												<% if issue.children.count == 0 %>
													<li class="postIt <% if issue.start_date.blank? || issue.due_date.blank? %>error<% end %> tracker<%= issue.tracker %> <% if issue.closed? %>closedIssue<% else %>

											<% if !issue.due_date.nil? %>
												<% if issue.due_date < Date.today %>delayedIssue<% end %>
											<% end %>
											<% end %>" style="background-color: #<%= Setting.plugin_whitewall["whitewall_color#{issue.tracker_id}_settings"] %>">
														<div class="title">
															<%= link_to_issue(issue, :subject => true, :truncate => 22, :tracker => false) %>


															<% if !issue.project.nil? %>
																<div class="projectName">
																	<%= link_to truncate("#{issue.project}", length: 40), "/projects/#{issue.project.identifier}" %>
																</div>
															<% end %>
														</div>
														<div class="hidden">
															<% if !issue.estimated_hours.nil? %>
																<div>
																	<%= l(:field_estimated_hours) %>
																	<span class="estimated"><%= issue.estimated_hours %>h</span>
																</div>
															<% end %>

															<div class="dueDate">

																<b><%= l(:label_whitewall_start) %></b> <span><%= issue.start_date %></span>
																<% if issue.due_date.blank? %>
																	<span class="error"><%= l(:label_whitewall_finish_error) %></span>
																<% else %>
																	|&nbsp;<b><%= l(:label_whitewall_finish) %></b> <span><%= issue.due_date %></span>
																<% end %>

															</div>
														</div>
													</li>

												<% end %>
										<% end -%>

							  	</ul>
							  </td>
						<% end -%>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	</div>

	<!-- DIALOG -->
	<div id="relDialog" title="<%= l(:label_whitewall_undefined) %>">
		<ul id="relSort">
			<% @issuesUndefined.each do |issue| %>
				<li class="postIt">
					<div class="title"><%= link_to_issue(issue, :subject => true, :truncate => 18, :tracker => false) %></div>
					<div class="dueDate">
						<b><%= l(:label_whitewall_start) %></b> <span><%= issue.start_date %></span>
						<% if issue.due_date.blank? %>
						    <span class="error"><%= l(:label_whitewall_finish_error) %></span>
						<% else %>
							|&nbsp;<b><%= l(:label_whitewall_finish) %></b> <span><%= issue.due_date %></span>
						<% end %>

					</div>
						<% if !issue.due_date.blank? %>
							<div>~<%= issue.estimated_hours %>h</div>
						<% end %>
					<div class="done">
						<div class="ui-progressbar ui-widget ui-widget-content ui-corner-all">
							<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: <%= issue.done_ratio %>%;"></div>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>

</div>

<% else %>
	<div id="flash_notice" class="flash error"><%= l(:label_whitewall_noaccess) %></div>
<% end %>