<% html_title l(:label_whitewall_menu) %>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'app', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jquery.ba-throttle-debounce', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jquery.stickyheader', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'app', :plugin => 'whitewall' %>
<% end %>

<% if @UserAllowed == 'true' %>

<div id="whitewall">
	<h2 id="sticker"><%= l(:label_whitewall_menu) %></h2>

	<%
		@subjects = Setting.plugin_whitewall["whitewall_group"]
		@groupS = []
		@subjects.each.with_index(1) do |subject, index|
			@groupS << subject[0]
		end
	-%>

	<!-- WALL FILTER -->
	<div id="filter">
		<div id="timespan">
			<div id="wallFunctions">
				<span id="stats">
					<%= link_to l(:label_whitewall_menu_graph),
											:controller => "graph",
											:action => "index",
											:from => params[:from],
											:to => params[:to],
											:user_select => params[:user_select] %>
				</span>
				<span id="showDetails"><%= l(:label_whitewall_details) %></span>
				<span id="showDisplay"><%= l(:label_whitewall_display) %></span>
				<span id="noRel"><%= l(:label_whitewall_undefined_short) %></span>
			</div>

		</div>
	</div>

	<div id="wall">		
	<!-- WALL TABLE -->
	<fieldset>
		<legend><%= l(:whitewall_legend) %></legend>
		<% all_tracker = Tracker.all.sort %>
		<% all_tracker.each do |tracker| %>
			<span id="tracker<%= tracker.name %>" class="tracker">
				<span class="colorPrev" style="background-color: <%= Setting.plugin_whitewall["whitewall_color#{tracker.id}_settings"] %>"></span>
				<label><%= tracker.name %></label>
			</span>
		<% end -%>
	</fieldset>
	<div id="scroll">
		<table data-sticky-container>
			<thead class="sticky">
				<tr>
					<th></th>
					<% for week in @weeks -%>
						  <th><%= l(:label_whitewall_week) %>&nbsp;<%= week[0] %>/<%= week[1] %></th>
					<% end -%>
				</tr>
			</thead>
			<tbody>
					
				<% for user in @users -%>
					<tr class="<%= cycle('odd', 'even') %> <%= User.current.id == user.id ? "current-user" : "" %>">
						<th><div class="stickyUser"><%= avatar(user, :size => "32") %>&nbsp;<%= link_to_user(user) %></div></th>
						<!-- LOOPS THROUGH TICKETS -->
						<% for week in @weeks -%>
							<td>
								<%= render :partial => "shared/graph", locals: {users: @users, user: user, week: week} %>
								<div class="sortItCon <% if(Date.today.strftime("%U").to_i + 1) > week[0].to_i %>weekOld_0<% end %>">
									<%= render :partial => "shared/issue", locals: {users: @users, user: user, week: week} %>
								</div>
							</td>
						<% end -%>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	</div>

	<%= render :partial => "shared/dialog_display" %>

	<div id="relDialog" title="<%= l(:label_whitewall_undefined) %>">

	</div>
</div>

<% else %>
	<div id="flash_notice" class="flash error"><%= l(:label_whitewall_noaccess) %></div>
<% end %>