<div id="user_whitewall">
  <div class="splitcontentleft">
    <fieldset class="box tabular">
      <legend><%=l(:label_whitewall_working_hours)%></legend>
      <p>
        <label><%=l(:label_whitewall_working_hours)%></label>
        <%= text_field :login, :required => true, :size => 25  %>
      </p>
    </fieldset>
  </div>
  <div class="splitcontentright">
    <fieldset class="box tabular">
      <legend><%=l(:label_information_plural)%></legend>
      sadasdasd
    </fieldset>
  </div>
</div>
<div style="clear:left;"></div>
<p><%= submit_tag l(:button_save) %></p>

