<div id="user_whitewall">
    <%= form_tag("/whitewall/user/settings", method: "post", id: "displayForm") do %>

    <%= hidden_field_tag 'user_id', @user.id %>

    <div class="splitcontentleft">
      <fieldset class="box tabular">
        <legend><%= l(:label_whitewall_working_hours) %></legend>
        <p>
          <label><%= l(:label_whitewall_working_hours) %></label>
          <%= text_field_tag 'working_hours', @user.working_hours, disabled: !User.current.admin?, maxlength: 2  %>
        </p>
      </fieldset>
    </div>
    <div class="splitcontentright">
      <fieldset class="box tabular">
        <legend><%= l(:label_information_plural) %></legend>
        sadasdasd
      </fieldset>
    </div>
    <div style="clear:left;"></div>
    <p><%= submit_tag l(:button_save) %></p>
  <% end %>
</div>

