<div id="user_whitewall">
  <%= form_for(:user, :url => {:action => 'update'}, :html => {:method => :put}) do %>

    <%= hidden_field_tag 'user[working_hours][]', '10' %>

    <div class="splitcontentleft">
      <fieldset class="box tabular">
        <legend><%= l(:label_whitewall_working_hours) %></legend>
        <p>
          <label><%= l(:label_whitewall_working_hours) %></label>
          <%= text_field_tag 'user[working_hours]', @user.working_hours %>
        </p>
      </fieldset>
    </div>
    <div class="splitcontentright">
      <fieldset class="box tabular">
        <legend><%= l(:label_information_plural) %></legend>
        sadasdasd
      </fieldset>
    </div>
    <div style="clear:left;"></div>
    <p><%= submit_tag l(:button_save) %></p>
  <% end %>
</div>

