<div class="whitewall-totals">
  <div class="hours">
    <div class="<%= user_hours_overdue(user_week_estimated_hours(user, week[0], week[1])) %>">
      <%= l(:label_graph_estimated_h) %>:
      <%= user_week_estimated_hours(user, week[0], week[1]) %> <%= l(:label_of) %> <%= Setting.plugin_whitewall["whitewall_limit"] %>
    </div>
  </div>
  <div class="tickets">
    <div >
      <%= l(:label_issue_count) %>:
      <%= user_week_issue(user, week[0], week[1]).count %>
    </div>
  </div>
</div>
<div class="weeklyGraph <%= user_hours_overdue(user_week_estimated_hours(user, week[0], week[1])) %>" data-progress-value="<%= user_week_estimated_hours(user, week[0], week[1]).round %>" data-progress-max="<%= @settings = Setting.plugin_whitewall["whitewall_limit"] %>"></div>
