<% for issue in user_week_issue(user,week[0],week[1]) -%>
  <% if issue.children.count == 0 %>
    <div class="postIt <% if issue.start_date.blank? || issue.due_date.blank? %>error<% end %> tracker<%= issue.tracker %> <% if issue.closed? %>closedIssue<% else %>
											<% end %>" style="background-color: <%= Setting.plugin_whitewall["whitewall_color#{issue.tracker_id}_settings"] %>">
        <% if issue.closed? %>
          <div class="patch notice">
            <%= l(:issue_closed_patch) %>
          </div>
        <% end %>
        <% if issue.due_date < Date.today && !issue.closed? %>
          <div class="patch error">
            <%= l(:issue_delayed_patch) %>
          </div>
        <% end %>

      <div class="title">
        <span id="issue-<%= issue.id%>" class="issue hascontextmenu">
          <%= link_to_issue(issue, :subject => true, :truncate => 22, :tracker => false) %>
        </span>

<!--        <span class="sort-handle"></span>-->
        <% if !issue.project.nil? %>
          <div class="projectName">
            <%= link_to truncate("#{issue.project}", length: 40), "/projects/#{issue.project.identifier}" %>
          </div>
        <% end %>
      </div>
      <div class="hidden">
        <% if !issue.estimated_hours.nil? %>
          <div>
            <%= l(:field_estimated_hours) %>
            <span class="estimated"><%= issue.estimated_hours %>h</span>
          </div>
        <% end %>

        <div class="dueDate">

          <b><%= l(:label_whitewall_start) %></b> <span><%= issue.start_date %></span>
          <% if issue.due_date.blank? %>
            <span class="error"><%= l(:label_whitewall_finish_error) %></span>
          <% else %>
            |&nbsp;<b><%= l(:label_whitewall_finish) %></b> <span><%= issue.due_date %></span>
          <% end %>

        </div>
      </div>
    </div>

  <% end %>
<% end -%>