<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_whitewall_config) %>

<% content_for :header_tags do %>
    
	<!-- Colorpicker Plugin -->
    <%= javascript_include_tag 'colorpicker/jquery.colorpicker.js', :plugin => 'whitewall' %>    
    <%= stylesheet_link_tag 'jquery.colorpicker.css', :plugin => 'whitewall' %>

	<!-- Colorpicker Plugin Extensions -->
	<% if locale == 'fr' || locale == 'de' || locale == 'nl' || locale == 'pt-br' || locale == 'ru' %>
	    <%= javascript_include_tag "colorpicker/i18n/jquery.ui.colorpicker-#{locale}.js", :plugin => 'whitewall' %>    
	<% else %>
	    <%= javascript_include_tag "colorpicker/i18n/jquery.ui.colorpicker-en.js", :plugin => 'whitewall' %>    
	<% end %>

    <%= javascript_include_tag 'colorpicker/parts/jquery.ui.colorpicker-rgbslider.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'colorpicker/parts/jquery.ui.colorpicker-memory.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'script', :plugin => 'whitewall' %>

	<script type="text/javascript">
		$(function() {
			// COLORPICKER
		    $('.picker').colorpicker({
		        parts:  [   'header', 'map', 'bar', 'hex',
		                    'rgb', 'preview',
		                    'swatches', 'footer'
		                ],
		        regional: '<% locale %>',
		        alpha:  false,
		        select: function(color) {
			        console.log(color.target.value);
			        $(this).parent().find('.colorPrev').css('background-color', '#' + color.target.value)
		        }
		    });
		});
	</script>

<% end %>

<h3><%= l(:whitewall_headline1_settings) %></h3>

	<% all_user_group = Group.find(:all) %>
	<% all_user_group.each do |group| %>
		<p>
			<label for="settings_whitewall_group_<%= group.id %>"><%= group.name %></label>
			<%= check_box_tag "settings[whitewall_group][#{group.id}]", group.name, @settings['whitewall_group'] && @settings['whitewall_group'].include?(group.id.to_s) %>
		</p>
	<% end %>

<br><br>

<h3><%= l(:whitewall_headline2_settings) %></h3>
<% all_tracker = Tracker.all.sort %>
<% all_tracker.each do |tracker| %>
	<p>
		<label for="settings_whitewall_color<%= tracker.id %>_settings"><%= tracker.name %></label>
	    <input type="text" class="picker" id="whitewall_color<%= tracker.id %>_settings" value="<%= settings["whitewall_color#{tracker.id}_settings"] %>" name="settings[whitewall_color<%= tracker.id %>_settings]" ><span class="colorPrev" style="background-color: #<%= settings["whitewall_color#{tracker.id}_settings"] %>"></span>

	</p>
<% end %>

<br><br>

	<h3><%= l(:whitewall_headline3_settings) %></h3>
	<p>
		<label for="whitewall_limit"><%= l(:whitewall_limit) %></label>
	    <input type="text" id="whitewall_limit" value="<%= settings["whitewall_limit"] %>" name="settings[whitewall_limit]" >
	</p>
