<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_whitewall_config) %>

<h3><%= l(:whitewall_headline1_settings) %></h3>
	<% all_user_group = Group.all %>
	<% all_user_group.each do |group| %>
		<p>
			<label for="settings_whitewall_group_<%= group.id %>"><%= group.name %></label>
			<%= check_box_tag "settings[whitewall_group][#{group.id}]", group.name, @settings['whitewall_group'] && @settings['whitewall_group'].include?(group.id.to_s) %>
		</p>
	<% end %>

<br><br>

<h3><%= l(:whitewall_headline2_settings) %></h3>
<% all_tracker = Tracker.all.sort %>
<% all_tracker.each do |tracker| %>
	<p>
		<label for="settings_whitewall_color<%= tracker.id %>_settings"><%= tracker.name %></label>
		<input type="color" class="picker" id="whitewall_color<%= tracker.id %>_settings" value="<%= settings["whitewall_color#{tracker.id}_settings"] %>" name="settings[whitewall_color<%= tracker.id %>_settings]" >
	</p>
<% end %>

<br><br>

	<h3><%= l(:whitewall_headline3_settings) %></h3>
	<p>
		<label for="whitewall_limit"><%= l(:whitewall_limit) %></label>
	    <input type="text" id="whitewall_limit" value="<%= settings["whitewall_limit"] %>" name="settings[whitewall_limit]" >
	</p>

<br><br>

	<h3><%= l(:whitewall_headline4_settings) %></h3>
	<p>
		<label for="whitewall_limit"><%= l(:whitewall_hideuser) %></label>
	    <input type="text" id="whitewall_hideuser" value="<%= settings["whitewall_hideuser"] %>" name="settings[whitewall_hideuser]" >
	</p>
