<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_whitewall_menu) %>

<% content_for :header_tags do %>

	<%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'jquery.stickyheader.css', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jqplot/excanvas.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/jquery.jqplot.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.dateAxisRenderer.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.barRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasAxisTickRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasTextRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasOverlay.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.categoryAxisRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.highlighter.js', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jquery.ba-throttle-debounce.min.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jquery.stickyheader.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'script', :plugin => 'whitewall' %>
<% end %>

<% if @UserAllowed == 'true' %>

<div id="whitewall">
	<h2><%= l(:label_whitewall_menu) %></h2>

	<!-- WALL FILTER -->
	<div id="filter">
		<div id="timespan">
			<%= form_tag("/whitewall_graph", method: "get") do %>
				<span id="statsBack">
					<%= link_to l(:label_whitewall_menu),
						:controller => "index",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<label for="from"><%= l(:label_whitewall_timespan_from) %></label>
				<input type="text" id="from" name="from" value="<%= @fromInput %>">
				<label for="from"><%= l(:label_whitewall_timespan_to) %></label>
				<input type="text" id="to" name="to" value="<%= @toInput %>">
				<input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" />
				<div id="wallFunctions">
					<span id="showUsers">
						<div><%= l(:label_whitewall_users) %></div>
						<ul>
							<li class="invert"><b><%= l(:whitewall_users_select) %></b><input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" /></li>
							<% for user in @usersAll -%>
								<li class="<%= cycle('odd', 'even') %>">
									<label for="user<%= user.id %>">
										<% if @users.include? user %>
											<input checked="checked" type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% else %>
											<input type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% end %>
										<%= user.name %>
									</label>
								</li>
							<% end -%>
						</ul>
					</span>
				</div>
			<% end %>
		</div>
	</div>

	<div id="wall" class="graph">		
	<!-- WALL TABLE -->
		<div id="scroll">
			<table>
				<thead>		
					<tr>
						<th></th>
						<% for week in @weeks -%>
							  <th><%= l(:label_whitewall_week) %>&nbsp;<%= week[0] %>/<%= week[1] %></th>
						<% end -%>
					</tr>
				</thead>
				<tbody>			
				
					<%= debug(@users) %>
					<% for user in @users -%>
						<tr class="<%= cycle('odd', 'even') %>">
							<th><%= avatar(user, :size => "32") %>&nbsp;<%= link_to_user(user) %></th>	
							<!-- LOOPS THROUGH TICKETS -->
							<% for week in @weeks -%>
								<td>
										<script type="text/javascript">
											$(document).ready(function() {

												$.jqplot.config.enablePlugins = true;
												var plot2 = $.jqplot('graph<%= user.id %><%= week[0] %>_<%= week[1] %>', [[[<%= @hours %>,'<%= l(:label_graph_estimated) %>'],[<%= @count %>,'<%= l(:label_graph_tickets) %>']]], {
										            seriesDefaults:{
										                renderer:$.jqplot.BarRenderer,
										                rendererOptions: {
										                    barDirection: 'horizontal',
										                    varyBarColor: true
										                },
										                shadow: false
										            },
										            axes: {
										                yaxis: {
										                    renderer: $.jqplot.CategoryAxisRenderer,
										                },
										                xaxis: {
															tickInterval : 10,
															min: 0,
															max: <% if !Setting.plugin_whitewall["whitewall_limit"].empty? %><%= Setting.plugin_whitewall["whitewall_limit"].to_i + 10 %><% else %>40<% end %>,
										                }
										            },
													highlighter: {
														sizeAdjust: 5,
														tooltipLocation: 'e',
														tooltipAxes: 'x',
													    showMarker: false,
													},
													<% if !Setting.plugin_whitewall["whitewall_limit"].empty? %>
													canvasOverlay: {
														show: true,
														objects: [
														{verticalLine: {
															name: 'pebbles',
															x: <%= Setting.plugin_whitewall["whitewall_limit"] %>,
															lineWidth: 1,
															yOffset: 0,
															lineCap: 'butt',
															color: '#ff0000',
															shadow: false
														}},
														]
													}
													<% end %>
										        });
											});
										</script>
										<div class="weeklyGraph" id="graph<%= user.id %><%= week[0] %>_<%= week[1] %>"></div>
								</td>
							<% end -%>
						</tr>
					<% end -%>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% else %>
	<div id="flash_notice" class="flash error"><%= l(:label_whitewall_noaccess) %></div>
<% end %>