<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_whitewall_menu) %>

<% content_for :header_tags do %>

	<%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'jquery.stickyheader.css', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jqplot/excanvas.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/jquery.jqplot.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.dateAxisRenderer.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.barRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasAxisTickRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasTextRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasOverlay.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.categoryAxisRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.highlighter.js', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jquery.ba-throttle-debounce.min.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jquery.stickyheader.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'script', :plugin => 'whitewall' %>
<% end %>

<% if @UserAllowed == 'true' %>

<% debug(@manu) %>

<div id="whitewall">
	<h2><%= l(:label_whitewall_menu) %></h2>

	<!-- WALL FILTER -->
	<div id="filter">
		<div id="timespan">
			<%= form_tag("/whitewall_graph", method: "get") do %>
				<span id="statsBack">
					<%= link_to l(:label_whitewall_menu),
						:controller => "index",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<label for="from"><%= l(:label_whitewall_timespan_from) %></label>
				<input type="text" id="from" name="from" value="<%= @fromInput %>">
				<label for="from"><%= l(:label_whitewall_timespan_to) %></label>
				<input type="text" id="to" name="to" value="<%= @toInput %>">
				<input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" />
				<div id="wallFunctions">
					<span id="showUsers">
						<div><%= l(:label_whitewall_users) %></div>
						<ul>
							<li class="invert"><b><%= l(:whitewall_users_select) %></b><input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" /></li>
							<% for user in @usersAll -%>
								<li class="<%= cycle('odd', 'even') %>">
									<label for="user<%= user.id %>">
										<% if @users.include? user %>
											<input checked="checked" type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% else %>
											<input type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% end %>
										<%= user.name %>
									</label>
								</li>
							<% end -%>
						</ul>
					</span>
				</div>
			<% end %>
		</div>
	</div>

	<div id="wall" class="graph">		
	<!-- WALL TABLE -->
		<div id="scroll">
			<table>
				<tbody>			
				
					<%= debug(@users) %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% else %>
	<div id="flash_notice" class="flash error"><%= l(:label_whitewall_noaccess) %></div>
<% end %>