<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_whitewall_menu) %>

<% content_for :header_tags do %>

	<%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'whitewall', :plugin => 'whitewall' %>
    <%= stylesheet_link_tag 'jquery.stickyheader.css', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jqplot/excanvas.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/jquery.jqplot.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.dateAxisRenderer.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jqplot/plugins/jqplot.barRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasAxisTickRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasTextRenderer.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.canvasOverlay.js', :plugin => 'whitewall' %>
	<%= javascript_include_tag 'jqplot/plugins/jqplot.categoryAxisRenderer.js', :plugin => 'whitewall' %>

    <%= javascript_include_tag 'jquery.ba-throttle-debounce.min.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'jquery.stickyheader.js', :plugin => 'whitewall' %>
    <%= javascript_include_tag 'script', :plugin => 'whitewall' %>
<% end %>

<% if @UserAllowed == 'true' %>

<div id="whitewall">
	<h2><%= l(:label_whitewall_menu) %></h2>

	<!-- WALL FILTER -->
	<div id="filter">
		<div id="timespan">
			<%= form_tag("/whitewall_graph", method: "get") do %>
				<span id="statsBack">
					<%= link_to l(:label_whitewall_menu),
						:controller => "index",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<span id="statsOverall">
					<%= link_to l(:label_whitewall_menu_overall),
						:controller => "overall",
						:action => "index",
						:from => params[:from],
						:to => params[:to],
						:user_select => params[:user_select] %>
				</span>
				<label for="from"><%= l(:label_whitewall_timespan_from) %></label> <%= Date.today %>
				<label for="from"><%= l(:label_whitewall_timespan_to) %></label>
				<input type="text" id="to" name="to" value="<%= @toInput %>">
				<input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" />
				<div id="wallFunctions">
					<span id="showUsers">
						<div><%= l(:label_whitewall_users) %></div>
						<ul>
							<li class="invert"><b><%= l(:whitewall_users_select) %></b><input type="submit" value="<%= l(:label_whitewall_timespan_apply) %>" /></li>
							<% for user in @usersAll -%>
								<li class="<%= cycle('odd', 'even') %>">
									<label for="user<%= user.id %>">
										<% if @users.include? user %>
											<input checked="checked" type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% else %>
											<input type="checkbox" id="user<%= user.id %>" name="user_select[]" value="<%= user.id %>">
										<% end %>
										<%= user.name %>
									</label>
								</li>
							<% end -%>
						</ul>
					</span>
				</div>
			<% end %>
		</div>
	</div>

	<div id="wall" class="graph">		
	<!-- WALL TABLE -->
		<div id="scroll">
			<table>
				<thead>		
					<tr>
						<th></th>
						<% for week in @weeks -%>
							  <% # if(Date.today.strftime("%U").to_i + 1) <= week[0].to_i %>
									<th><%= l(:label_whitewall_week) %>&nbsp;<%= week[0] %>/
										<% if week[0] == 53 %>
											<%= week[1] - 1 %>
										<% else %>
											<%= week[1] %>
										<% end %>						  	
									</th>
							  <% # end %>
						<% end -%>
					</tr>
				</thead>
				<tbody>					
				
					<% for user in @users -%>
						<tr class="<%= cycle('odd', 'even') %>">
							<th><%= avatar(user, :size => "32") %>&nbsp;<%= link_to_user(user) %></th>	
							<!-- LOOPS THROUGH TICKETS -->
							<% for week in @weeks -%>
								<% # if(Date.today.strftime("%U").to_i + 1) <= week[0].to_i %>
								<td>
										<script type="text/javascript">
											$(document).ready(function() {

												$.jqplot.config.enablePlugins = true;
												var plot2 = $.jqplot('graph<%= user.id %><%= week[0] %>_<%= week[1] %>', [[[<%= user["estimatedHours_#{week[0]}"] %>,'<%= l(:label_graph_estimated) %>']]], {
										            seriesDefaults:{
										                renderer:$.jqplot.BarRenderer,
										                rendererOptions: {
										                    barDirection: 'horizontal',
										                    color: '#467AA7',
										                    varyBarColor: true,
														    barWidth: 20
										                },
										                shadow: false
										            },
										            axes: {
										                yaxis: {
										                    renderer: $.jqplot.CategoryAxisRenderer,
										                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
								                            tickOptions: {
													          angle: -90,
													          fontSize: '12px',
													          labelPosition: 'middle'
													        }
										                },
										                xaxis: {
															tickInterval : 10,
															tickOptions: {
													          fontSize: '11pt',
													          angle: -30
													        },
															min: 0,
															max: <% if !Setting.plugin_whitewall["whitewall_limit"].empty? %><%= Setting.plugin_whitewall["whitewall_limit"].to_i + 30 %><% else %>40<% end %>,
															fontSize: '24px',
										                }
										            },

													<% if user["estimatedHours_#{week[0]}"] >= 40 %>
											            seriesColors: [ "#ff0000"],
													<% else %>
											            seriesColors: [ "#467AA7"],
													<% end %>										            
										            
													<% if !Setting.plugin_whitewall["whitewall_limit"].empty? %>
													canvasOverlay: {
														show: true,
														objects: [
														{verticalLine: {
															name: 'pebbles',
															x: <%= Setting.plugin_whitewall["whitewall_limit"] %>,
															lineWidth: 1,
															yOffset: 0,
															lineCap: 'butt',
															color: '#ED8C00',
															shadow: false
														}},
														]
													}
													<% end %>
										        });
											});
										</script>
										
										<div class="weeklyGraph" id="graph<%= user.id %><%= week[0] %>_<%= week[1] %>"></div>
										<div class="totals">
											<span><%= l(:label_graph_estimated_h) %>:</span> <%= user["estimatedHours_#{week[0]}"] %>
										</div>
								</td>
								<% #end %>
							<% end -%>
						</tr>
					<% end -%>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% else %>
	<div id="flash_notice" class="flash error"><%= l(:label_whitewall_noaccess) %></div>
<% end %>