<p id="editor">
	<label for='issue_editor_id'><%= l(:field_editor) %>: </label>
	<% if @issue.editor_id.nil? %>
		<% @user = User.find(0) %>
		<%= avatar(@user, :size => "32") %>&nbsp;<%= link_to_user(@user) %>
	<% else %>
		<% @user = User.find(@issue.editor_id) %>
		<%= avatar(@user, :size => "32") %>&nbsp;<%= link_to_user(@user) %>
	<% end %>
</p>
